/* .reveal h1 {
  font-size: 1.8em;
} */

/* .reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-style: normal;
  font-weight: bold;
  margin-top: 1.5em;
} */

.small {
  font-size: 0.7em;
}

.smaller {
  font-size: 0.6em;
}

/* .reveal figcaption {
  font-size: 1.1em;
  margin-top: 0.5em;
  line-height: 1.3;
}  */